<%- include('./layouts/header.ejs') %>

<div class="container mt-5 mt-3">
    <h1>Forgot Password</h1>
    <form method="post">
        <input type="email" required placeholder="Enter email" name="email">
        <br><br>
        <input type="submit" value="forgot password" class="btn btn-info">
    </form>
    <% if (typeof message !== 'undefined') { %>
        <p><%= message %></p>
    <% } %>
</div>

<%- include('./layouts/footer.ejs') %>
