<%- include('./layouts/header.ejs') %>
<div class="container mb-5 mt-3" >
<h1>Reset Password</h1>

<form method="post">
    <input type="password" required placeholder="Enter new password" name="password">

    <input type="hidden" name="user_id" value="<%= user_id  %>">

    <br><br>
    <input type="submit" value="Reset" class="btn btn-info">
</form>
</div>
<%- include('./layouts/footer.ejs') %>